body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family:cursive;
    background: linear-gradient(135deg, blanchedalmond); 
    color: darkred;
    line-height: 1.8;
    font-style: italic;
}
header{
    font-style: italic;
    font-size: 1rem;
    background: linear-gradient(120deg, blanchedalmond, black);
    text-align: center;
    padding: 1rem 0;
    color: black;
}
header h1{
    font-style: italic;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subtitle{
    font-style: italic;
    color: darkred;
    margin-top: 0.5rem;
}
.profile{
    margin-top: 2rem;
}
.profile img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}
.hover-img{
    width: 300px;
    border-radius: 12px;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
}
.hover-img:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.bio{
    max-width: 600px;
    margin: 1rem auto 0;
    font-size: 1rem;
    color: darkred;
}
nav{
    background-color:burlywood;
    border-bottom: 1px solid peachpuff;
    text-align: center;
    padding: 0.8rem 0;
}
nav a{
    color: brown;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
}
nav a:hover { 
    color: burlywood;
}
main{
    max-width: 750px;
    margin: 2rem auto;
    padding: 0 1rem;
}
article{
    display: flex;
    align-items: center;
    gap: 5 rem;
    background: white;
    border-radius: 15px;
    padding: 1.8rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}
article img{
    width: 40%;
    border-radius: 10px;
    margin-bottom:  1rem;
    object-fit:cover;
    height: 250px;
}
article div{
    flex: 1;
}
article:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
h2{
    color: darkred;
    margin-bottom: 0.5rem;
}
.date{
    font-size: 0.9rem;
    color: darkred;
    margin-bottom: 1rem;
    display: block;
}
footer{
    text-align: center;
    padding: 2rem 1rem;
    background: black;
    color: blanchedalmond;
    font-weight: 500;
}