header {
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
}
body {
    background-color: bisque;}
h1 {font-family: Helvetica; 
    color: blue; 
    font-size: 24pt;}
p { font-family: Verdana; 
    color: black; 
    margin-left: 50px;}   
div {
    border: 3px solid white;
    border-radius: 12px;
    padding: 20px;
    background-color: blanchedalmond;}
div {
    transition: transform 0.3s ease;}
div:hover {
    transform: translateY(-10px);    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}